<h2>Register</h2>

<form action="/register" method="post">
    <input type="email" name="email" placeholder="Enter emial" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <button type="submit">Register</button>
    
</form>