<h2>Create Journel</h2>

<form action="/journel/new" method="post">
    <input type="text" name="title" placeholder="Enter title" required>
    <textarea name="content" placeholder="Write here...." required></textarea>
    <button type="submit">Save</button>
</form>